@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Gustavo */
#imagem-de-fundo{
    width: 100%;
    height: 70vh;
    opacity: 0.5;
}
header {
    color: whitesmoke;
    background: url("../img/casal-background.jpg") center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding-bottom: 100px;
    /* height: 70vh; */
}

.barra-de-navegacao {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}

.logomarca {
    height: 1%;
    width: 15vw;
    margin-top: 5vh;
}

.Lista-barra-de-navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 5vh;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}

.button-login {
    background-color: transparent;
    width: 6rem;
    height: 3em;
    border-radius: 2em;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    border: 1px solid white;
    cursor:pointer;
}

#divBuscar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    float:left;
}

#inputBuscar {
    text-align: center;
    border-radius: 2rem;
    width: 35vw;
    height: 3em;
    border: 1px solid whitesmoke;
    background-color:transparent;
    float:left;
}

#lupaBuscar{
    height: 1em;
    cursor:pointer;
    position: relative;
    float:left;
    left: -3rem;
}

.conteudo-centralizizado-header {
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    margin-top: 15vh;
}

h2.conteudo-header-titulo{
    font-size: 2em;
    text-align: center;
}
p.conteudo-header-subtitulo{
    font-size: 1em;
    justify-self: center;
}

li a {
    text-decoration: none;
    margin-right: 5em;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width:600px) {
    .barra-de-navegacao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logomarca {
        width: 40vw;
    }

    li a {
        display: flex;
        flex-direction: column;
    }

}

/*  NATA*/




/* JONATAS */




/* ALINE */